<div class="jumbotron">
	
  <h1 class="text-center">Angular 2 - Formulário</h1>

	<hr />

	<div class="alert alert-success" role="alert" *ngIf="sucesso">
		Formulário enviado com sucesso!
		<br />
		{{ debug() }}
	</div>

	<form id="formTeste" (ngSubmit)='enviar()' *ngIf="!sucesso && active" #alnoForm="ngForm" >
		<div class="form-group" [class.has-error]="!nome.valid && !nome.untouched" >
			<label class="control-label" for="nome">Nome</label>
			<input type="text" class="form-control"
			     id="nome" name="nome" #nome="ngModel"
				 [(ngModel)]="aluno.nome" required />
			<div class="alert alert-danger error-message">
          		Informe o Nome 
        	</div>	
		</div>
		<div class="form-group" [class.has-error]="!email.valid && !email.untouched" >
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control" name="email" #email="ngModel"
				id="email" [(ngModel)]="aluno.email" required >
			<div class="alert alert-danger error-message">
          		Informe um E-mail válido 
        	</div>	
		</div>
		<div class="form-group">
			<label class="control-label" for="idade">Idade</label>
			<input type="number" class="form-control" name="idade" 
				id="idade" [(ngModel)]="aluno.idade" >
		</div>
		<div class="form-group" [class.has-error]="!curso.valid && !curso.untouched">
			<label class="control-label" for="curso">Curso</label>
			<select name="curso" id="curso" class="form-control" #curso="ngModel"
				[(ngModel)]="aluno.curso" required >
				<option value="" selected>Selecione</option>
				<option *ngFor="let curso of cursos; let i = index" [value]="curso.codigo">{{curso.nome}}</option>
			</select>
			<div class="alert alert-danger error-message">
          		Selecione o Curso
        	</div>
		</div>
		<hr />
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary" 
				[disabled]="!alnoForm.form.valid">Enviar</button>
			<button type="button" class="btn btn-primary" (click)="reset()" >Limpar</button>
		</div>
	</form>

</div>